/************************/
/*** Component Wraps ***/
/************************/
.desktop-home, .about-wrap, .services-wrap, .experience-wrap, .testimonials-wrap {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: scroll;
}
.home-content {
    width: 100%;
    max-height: 100vh;
    min-height: 50vh;
    display:flex;
    flex-direction: column;
    padding-left: 25vw;
}
/************************/
/*** Growth Header Border CSS ***/
/************************/
.border-grid-home{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4vh 4vh;
    position: relative;
    padding-top: 2.5vh;
    align-items: center;
    justify-content: center;
    background-color: #c6d3eb;
}
.border-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4vh 4vh;
    position: relative;
    padding-top: 2.5vh;
    align-items: center;
    justify-content: center;
}
.border-box {
    border-bottom: 5px solid #111F2D;
    align-items: baseline;
    height: 100%;
}
.border-images-home{
    background-color: #c6d3eb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30%;
    width: 40%;
    padding-top: 2.5%;
}
.border-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30%;
    width: 40%;
    padding-top: 2.5%;
    background-color: white;
}
#border-pic{
    max-width: 7vw;
    padding-left: 2vw;
    padding-right: 2vw;    
}

/************************/
/*** Homepage Top Text ***/
/************************/
.home-text {
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #c6d3eb;
}
.home-text-block{
    font-size: 110%;
    font-weight: 700;
    margin: 0;
    color: black;
}
/************************/
/*** Homepage Mobile-Only Nav Buttons ***/
/************************/
.home-nav{
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 100%;
    z-index: 2;
    height: 7vh;
    min-height: 7vh;
    margin: 0;
    background-color: #111F2D;
    border-bottom: 2px solid #91B2C7;
    padding-left: 0%;
    padding-right: 0%;
}
.nav-home{
    width: 45%;    
}
.nav-button {
    max-width: 100%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.nav-link{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #111F2D;
}
.nav-text {
    font-size: 150%;
    color: white;
    font-weight: 400;
}

/************************/
/*** Home Content Wrap ***/
/************************/
.skill-grid {
    background-color: #c6d3eb;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5vh;
    padding-left: 5%;
    padding-right: 7.5%;
    height: 71.5vh;
}
#skill-header {
    padding-left: 1.5%;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin-top: 2vh;
    width: 100%;
    height: 5.5vh;
    background-color: #111F2D;
    border-radius: 10px;
    color: white;
    font-size: 150%;
}
.skill-main{
    font-size: 120%;
    font-weight: 500;   
    padding-top: 0%;
    font-weight: 650;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}
.home-text-wrap{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.skill-list{
    font-size: 90%;
    font-weight: 500;
    padding-top: 1vh;
    padding-left: 5%;
    color: #111F2D;
}

/************************/
/*** Skill & Work Icons ***/
/************************/
.work-wrap, .skill-wrap {
    display: flex;
    width: 100%;
    border-top: 2px solid rgb(32, 57, 87);
}
.skill-wrap{
    border-bottom: 2px solid rgb(32, 57, 87);
}
.icon-header {
    padding: 1%;
    font-size: 100%;
    font-weight: bold;
    background-color: #EAF2F8;  
}
.skill-icon-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 2.5%;   
    padding-right: 2.5%;
    background-color: #EAF2F8;
}
.skill-item-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0;
    transition-property: font-size;
}
#services-skill-button{
    width: 20%;
    height: auto;
    margin: auto;
    transition-property: width;
    transition-duration: 1s;
}
.work-icon-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #EAF2F8;
    padding-top: 1%;
    padding-bottom: 1%;
}
#work-icon {
    width: 10%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    transition-property: width;
    transition-duration: 1s;
}

#work-icon:hover, #services-skill-button:hover{
    width: 0%;
}
.skill-item-wrap:hover{
    font-size: 100%;
    font-weight: bold;
}
/************************/
/*** Personal Portfolio Carousel ***/
/************************/
.carousel-wrap {
    height: 30vh;
    padding-left: 5%;
    padding-right: 2.5%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    width: 100%;
    margin:0 auto;
    margin-left: 0;
    margin-top: 2.5%;
}
.carousel-inner-wrap {
    width: 100%;    
}
.carousel-title {
    font-size: 125%;
    font-weight: bold;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
}
.carousel-root, .carousel-slider, .slider-wrapper, .slider {
    max-height: 27.5vh;
    width: 100%;
}
.slider-wrapper {
    border-radius: 8px;
}
.carousel-item {
    height: 100%;
    max-width: 25vw;
    margin:0 auto;
}
#portfolio-img{
    max-height: 29.5vh;
    height: 100%;
    max-width: 100%;
    border-radius: 2%;
    border: 1px solid black;
}
.thumbs-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.legend {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;    
    opacity: .65!important;
    width: 100% !important;
    max-width: 25vw;
    margin-left: 0 !important;
    left:auto !important;
}
.control-dots {
    height: 0px;
}
.control-arrow {
    opacity: .4!important;
    background: #000!important;
    border-radius: 8px;
}
.carousel-status{
    opacity: 0%;
}

/************************/
/*** Testimonial Content ***/
/************************/
.testimonials-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-left: 25vw;
}
.testimonial-body{
    padding-top: 2.5%;
}
.testimonial-title {
    padding-left: 5%;
}

/************************/
/*** About Content ***/
/************************/
.about-content {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-bottom: 5%;
    padding-left: 25vw;
}
.about-box {
    height: 100%;
    width: 85%; 
    margin:auto;
}
.about-header {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    font-size: 175%;
    font-weight: 600;
}
.about-text {
    font-size: 100%;
    line-height: 1.7;
    padding-bottom: 3%;
    max-width: 70%;
}


/************************/
/*** Mobile Views ***/
/************************/
@media (max-device-width: 787px) {
    .desktop-home, .about-wrap, .testimonials-wrap {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .home-content{
        border-top: 2px solid #91B2C7;
        padding: 0;
        margin-top: 10%;
        height: 100%;
    }
    .home-top-wrap{
        padding:0;
        background-color: none;
    }
    .about-content, .testimonials-content{
        padding-left: 2.5%;
        padding-right: 2.5%;
        border-top: 2px solid #91B2C7;
        padding-top: 16vh;
    }
    .about-text{
        max-width: 95%;
    }
    .about-header{
        padding-right: 0;
    }
    .carousel-wrap{
        padding: 5%;
        padding-bottom: 7.5%;
        height: auto;
        margin-top: 0;
    }
    .carousel-item, .legend{
        max-width: 55vw;
        max-height: 20vh;
    }
    .legend{
        bottom: 0px !important;
        margin:auto;
    }
    .work-wrap, .skill-wrap {
        display: flex;
        flex-direction: column;
    }
    .skill-grid{
        background-color:white;
        height: auto;
        padding: 0%;
    }
    #skill-header{
        height: auto;
        border-radius: 0;
        padding-left: 2.5%;
        margin:0;
        margin-bottom: 2.5%;
    }
    .home-text-wrap{
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2.5%;
    }
    .skill-icon-wrap, .work-icon-wrap{
        width: 100%;
        padding-bottom: 5%;
    }
    .skill-list{
        padding-left: 2.5%;
        padding-right: 0;
        padding-bottom: 5%;
        font-weight: 400;
        font-size: 85%;
    }
    .icon-header{
        padding: 2.5%;
    }
    .skill-item-wrap{
        width: 10%;
    }
    #work-icon, #services-skill-button{
        width: 80%;
    }
}
