html, body, #app, #app>div {
  height: 100% ; 
  width: 100% ; 
}

.app {
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
}

.app-header {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;  
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

a:link {
  text-decoration: none!important;
  color: #000!important;
}


/*****  SPIN THE LOGO 
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
*****/